<!-- <nav class="navbar navbar-light bg-nav">
  <div class="container">
    <button
      class="navbar-toggler first-button bg-white mr-2"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent20"
      aria-controls="navbarSupportedContent20"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <div class="animated-icon1"><span></span><span></span><span></span></div>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent20"> -->
<!-- Links -->
<!-- <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link text-white" href="#"
            >Home <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Pricing</a>
        </li>
      </ul> -->
<!-- Links -->
<!-- </div>

    <a href="" class="text-white navbar-brand mr-auto">Movies</a>

    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle text-white" role="button"
          >Search <span class="caret"></span
        ></a>
        <ul class="dropdown-menu">
          <li><a href="#">Movies</a></li>
          <li><a href="#">Tv Shows</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav> -->
